<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<!--    <a class="navbar-brand" href="/">Shop</a>-->
    <h1 id="logo">
      <a href="/"><img src="https://user-images.githubusercontent.com/101097019/238403449-561c2a68-bfa6-494e-a961-5c2e715619d5.png" width="100"></a>
    </h1>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" sec:authorize="permitAll()">
          <a class="nav-link" href="https://hyeon317.github.io/cafeinfor.github.io/" rel="noopener noreferrer">카페소개</a>
        </li>'
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
          <a class="nav-link" href="/admin/item/new">상품 등록</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
          <a class="nav-link" href="/admin/items">상품 관리</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_USER')">
          <a class="nav-link" href="/cart">장바구니</a>
        </li>
        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_USER')">
          <a class="nav-link" href="/orders">구매이력</a>
        </li>
        <li class="nav-item" sec:authorize="permitAll()">
          <a class="nav-link" href="http://pf.kakao.com/_xdBxoLxj/chat">문의 및 상담</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/members/new">회원가입</a>
        </li>
        <li class="nav-item" sec:authorize="isAnonymous()">
          <a class="nav-link" href="/members/login">로그인</a>
        </li>
        <li class="nav-item" sec:authorize="isAuthenticated()">
          <a class="nav-link" href="/members/logout">로그아웃</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">
        <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>

</html>